/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}

@import url(https://fonts.googleapis.com/css?family=Arimo);


/* Header */
header {
    position: relative;
    height: 35px;
    top: 0px;
    left: 0px;
    right: 0px;
  }

/* Menu */  
#menu {
    position: absolute;
    left: 0px;
    top: 10px;
    margin-left: 15px;
    cursor: pointer;
  }

.menu_bot {
    position: relative;
    padding: 20px;
    display: block;
    cursor: pointer;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    color: var(--cor-click);
    transition: 0.5s;
  }  

/* Logo */
#logo {
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translate(-50%);
  }  

/* Logo SVG */
.svg_logo{
    width: 80px;
  }

.path_logo{
    fill: var(--cor-click);
  }

/* Mensagens */
.mensagens {
    background-color: #d9f0ff;
    padding: 16px;
    border-radius: 8px;
}

/* Main - contém Aulas e Notícias */
.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Aulas */
.aulas {
    background-color: #e0ffe0;
    padding: 16px;
    border-radius: 8px;
}

.disciplina {
    background-color: white;
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

/* Notícias */
.noticias {
    background-color: #ffebcc;
    padding: 16px;
    border-radius: 8px;
}
